*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: azure;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

h3{
    margin-top: 1rem;
}

button{
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #3f51b5;
    background-color: #03a9f4;
    color: white;
}

.grid{
    margin-top: 1rem;
    width: 20rem;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    position: relative;
}

.grid-clickleft{
    position: absolute;
    width: 50%;
    height: 100%;
}

.grid-clickright{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
}

.next-figure-grid{
    margin-top: 1rem;
    display: flex;
    width: 8rem;
    height: 8rem;
    flex-wrap: wrap;
    border-radius: 5px;
}

.grid .before__grid, .grid .taken__grid{
    height: 0;
    width: 0;
    border: 0;
}

.grid div, .next-figure-grid div{
    width: 2rem;
    height: 2rem;
    /*background-color: red;*/
    border: .5px solid;
    border-radius: 5px;
    background-color: #d2cece;
}

.next-figure-grid div{
    background-color: lightsalmon;
}

.grid div.tetromino, .next-figure-grid div.tetromino{
    background-color: blue;
}

.grid div.tetromino.l, .next-figure-grid div.tetromino.l{
    background-color: magenta;
}
.grid div.tetromino.z, .next-figure-grid div.tetromino.z{
    background-color: red;
}
.grid div.tetromino.t, .next-figure-grid div.tetromino.t{
    background-color: yellow;
}
.grid div.tetromino.o, .next-figure-grid div.tetromino.o{
    background-color: gray;
}
.grid div.tetromino.i, .next-figure-grid div.tetromino.i{
    background-color: cyan;
}

.taken{
    background-color: green;
}

.taken__grid{
    visibility: hidden;
}

@media all and ( max-width: 600px ){
    
}